/* Fonts Import */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

/* Reset codes */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  min-width: 320px; /* built with iPhone 5/SE dimensions */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, div {
  margin: 0;
  padding: 0;
}

/* Header */
.background-img-wrapper {
  position: relative;
  height: 33em;
  overflow: hidden;
}

#background-img-main {
  background-image: url(img/back-img-main-medium.jpg);
  position: absolute;
  background-size: cover;
  top: -3.5em;
  left: -13.7em;
  height: 111%;
  width: 196vw;
}

#img-overlay {
  width: 100vw;
  height: 33em;
  background-color: rgba(0, 0, 0, 0.185);
  position: absolute;
  top: 0;
  left: 0;
}

#menu-icon {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1.8em 10%;
  user-select: none;
  z-index: 1;
}

.menu-icon-bar {
  width: 1.5em;
  margin: 0.4em 0;
  background-color: white;
  height: 0.1em;
  box-shadow: 0 0 24px 13px rgba(0, 0, 0, 0.07);
  z-index: 1;
  user-select: none;
}

.menu-icon-bar:hover {
}

#menu-overlay-wrapper {
  padding: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  z-index: 1;
}

#menu-overlay {
  background-color: #F2F2F2;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  border-radius: .2em;
  position: relative;
}

#overlay-heading-wrapper {
  height: 3.5em;
  position: relative;
}

#overlay-heading {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: white;
  background-color: #6f4e37;
  padding: 4% 0;
  width: 70%;
  margin-top: -6%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  position: absolute;
  text-align: center;
  border-radius: .2em;
}

#overlay-heading:focus, #overlay-heading:hover, #overlay-heading:active {
  color: #ffebed;
}

#heading-shadow {
  font-size: 2em;
  width: 70%;
  margin-top: -6%;
  top: 0;
  left: 50%;
  padding: 5% 0;
  transform: translateX(-50%);
  position: absolute;
  border-radius: .2em;
  -webkit-box-shadow: 0 0 4px #000;
  -moz-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  z-index: -1;
  color: transparent;
}

#overlay-list {
  padding-bottom: 5%;
}

.menu-list-item {
  display: block;
  text-decoration: none;
  font-size: 1em;
  line-height: 2.2em;
  padding-left: 10%;
  font-family: 'Vollkorn', sans-serif;
  color: black;
  user-select: none;
}

.menu-list-item:focus, .menu-list-item:hover, .menu-list-item:active {
  color: #6f4e37;
}

.menu-list-item:focus, .menu-list-item:active {
  background-color: #ffebed;
}

#header-text-wrapper {
  position: absolute;
  top: 18em;
  width: 100%;
}

#header-names {
  padding-left: 10%;
  color: white;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
}

#header-message {
  color: white;
  font-family: 'Vollkorn', sans-serif;
  padding-top: 0.5em;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: center;
}

.header-left-indent {
  padding-left: 13%;
}

/* RSVP */
#rsvp {
  height: 33em;
  border-bottom: 1px solid #ffebed;
  padding: 10%;
  position: relative;
}

#rsvp-wrapper {
  text-align: center;
  padding-top: 40%;
}

#hearts-clipart {
  background-image: url(img/hearts-clipart.jpg);
  height: 84%;
  width: 100%;
  position: absolute;
  top: 14%;
  left: 20%;
  opacity: .35;
  z-index: -1;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#rsvp-date {
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
}

#rsvp-location {
  font-family: 'Vollkorn', sans-serif;
  font-size: 1.2em;
  padding: 0.5em 0;
}

#rsvp-count-down {
  font-family: 'Vollkorn', sans-serif;
  font-size: 1.2em;
}

#rsvp-button-wrapper {
  padding: 2.5em 0;
}

#rsvp-button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  text-decoration: none;
  border: solid black 1px;
  border-radius: .2em;
  padding: 0.2em 0;
  color: black;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  --ms-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#rsvp-button:focus, #rsvp-button:active {
  font-size: 1.3em;
  color: #6f4e37;
  margin: .1em;
  border-color: #6f4e37;
}

/* Schedule */
#schedule {
  height: 33em;
  padding: 10%;
  border-bottom: 1px solid #ffebed;
  position: relative;
  overflow: hidden;
}

#schedule-wrapper {
  padding-top: 20%;
}

#background-img-schedule {
  background-image: url(img/on-bridge.jpeg);
  position: absolute;
  background-size: cover;
  top: 0;
  left: -65%;
  height: 100%;
  width: 175%;
  opacity: 0.3;
  z-index: -1;}

.heading {
  text-align: center;
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
}

#heading-date {
  font-family: 'Vollkorn', sans-serif;
  padding: .5em 0 0.1em;
  border-bottom: 1px solid #6f4e374f;
  font-size: 1.1em;
  text-align: center;
}

#schedule-info {
  font-family: 'Vollkorn', sans-serif;
  font-size: 1em;
}

.info-table {
  padding-top: 1.4em;
  width: 100%;
  font-size: 1.1em;
}

.info-headings {
  font-weight: bold;
}

.table-data {
  width: 50%;
}

.info-address-wrapper {
  text-align: center;
  padding-top: 2.5em;
}

.info-address {
  text-decoration: none;
  color: #6f4e37;    font-size: 1.1em;
}

.info-address:active, .info-address:focus, .info-address:hover,
.info-calendar-link:active, .info-calendar-link:focus, .info-calendar-link:hover,
#footer-link:active, #footer-link:focus, #footer-link:hover {
  color: #ffebed;
}

.info-calendar-link {
  text-decoration: none;
  color: #6f4e37;
}

.calendar-link-wrapper {
  text-align: center;
  padding-top: 1.5em;
}

/* Registry */
#registry {
  height: 33em;
  padding: 10%;
  border-bottom: 1px solid #ffebed;
}

#registry-p {
  font-family: 'Vollkorn', sans-serif;
  padding: .5em 0;
  text-indent: 1.7em;
  line-height: 1.8em;
  font-size: 1.1em;
}

#bbb {
  display: block;
  margin: .8em auto 0;
  width: 55vw;
  user-select: none;
}

/* Moments */
#moments {
  height: 33em;
  border-bottom: 1px solid #ffebed;
  padding: 10%;
  position: relative;

}

#moments-wrapper {
  text-align: center;
}

#moments-button-wrapper {
  padding: 2.5em 0;
}

#moments-button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  text-decoration: none;
  border: solid black 1px;
  border-radius: .2em;
  padding: 0.2em 0;
  color: black;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  --ms-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#moments-button:focus, #moments-button:active {
  font-size: 1.3em;
  color: #6f4e37;
  margin: .1em;
  border-color: #6f4e37;
}



/* Footer */

#footer-text {
  color: #6f4e3780;
  padding: 5% 10%;
  text-align: center;
  font-size: .9em;
  font-family: 'Vollkorn', sans-serif;
}

#footer-link {
  text-decoration: none;
  color: #6f4e37;
}

/* RSVP Form (rsvp.html) */
#rsvp-page {
  height: 100vh;
  padding: 5%;
  border: 5vw solid #ffebed;
}

#rsvp-form-wrapper {
}

#rsvp-form-names {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  padding-bottom: .3em;
}

#rsvp-form-date {
  font-size: 1.2em;
  font-family: 'Vollkorn', sans-serif;
  padding: 0.1em 0;
  border-bottom: 1px solid #6f4e37;
  margin-bottom: 1em;
  text-align: center;
}

.label {
  font-family: 'Vollkorn', sans-serif;
  font-size: 1em;
}

.form-control {
  width: 80vw;
  border: 1px solid rgba(111, 78, 55, 0.5);
  outline: none;
  color: #6f4e37;
  font-size: 1em;
  margin-top: .5em;
  margin-bottom: 0.9em;
  padding: 0.4em 1em;
  resize: none;
  font-family: 'Vollkorn', sans-serif;
}

#next-button-wrapper {
  padding: 1.3em 0 0;
}

#next-button {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  text-decoration: none;
  border: solid black 1px;
  border-radius: .2em;
  padding: 0.2em 0;
  color: black;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  --ms-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

#next-button:focus, #next-button:active {
  font-size: 1.3em;
  color: #6f4e37;
  margin: .1em;
  border-color: #6f4e37;
}

/* -------- MEDIA QUERIES -------- */

/* for Galaxy S5 */
@media screen and (min-width: 360px) {
}

/* for iPhone 6/7/8/X*/
@media screen and (min-width: 375px) {
}

/* for Pixel 2/2XL and iPhone 6/7/8 Pluses */
@media screen and (min-width: 411px) {
}

/* for iPad */
@media screen and (min-width: 760px) {
}

/* for iPad Pro and Desktops */
@media screen and (min-width: 800px) {
}
